<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Conditionals</title>
</head>
<body>
<div th:with="n=23">
    <h4 th:text="|${n} '<' 5 = ${n < 5}|"></h4>
    <h4 th:text="|${n} '>' 5 = ${n > 5}|"></h4>
    <h4 th:text="|${n} '<=' 5 = ${n < 5}|"></h4>
    <h4 th:text="|${n} == 5 = ${n == 5}|"></h4>
    <h4 th:text="|${n} lt 5 = ${n lt 5}|"></h4>
    <h4 th:text="|${n} gt 5 = ${n gt 5}|"></h4>
    <h4 th:text="|${n} ge 5 = ${n ge 5}|"></h4>
    <h4 th:text="|${n} le 5 = ${n le 5}|"></h4>
    <h4 th:text="|${n} eq 5 = ${n eq 5}|"></h4>
</div>

</body>
</html>